#this file is a standard in the python ecosystem
#so that anytime you have a python project and you need 
#to specify that Render, or another environment requires
#certain libraries to run the project, it's a convention to    #put that information inside a requirements.txt file.
#we also changed in Render the build command from:
#uv sync --frozen && uv cache prune --ci
#to:
#pip install -r requirements.txt
#the project has been deployed on render cloud, and the start
#command is "gunicorn app:app"
#where the second "app" is the name of the variable which
#contains the flask application that you want to run
# because we wrote in app.py:
# app = Flask(__name__)

Flask
gunicorn
sqlalchemy
pymysql