<!-- These head and script and body are not necessary here, because they are already in the application_form.html file.
  <head>
    <title>hCAPTCHA Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes">

    <script src="https://js.hcaptcha.com/1/api.js?reportapi=https%3A%2F%2Faccounts.hcaptcha.com&custom=False&pstissuer=https://pst-issuer.hcaptcha.com" type="text/javascript" async defer></script>
      </head>
We also removed form tags and fieldset tags, because they are already in the application_form.html file, html does not support nested forms. 
We changed the id from hcaptcha-demo to just hcaptcha.
   <body> -->

              <div class="">
                <!-- BEGIN: hCaptcha implementation example. -->
                <div
                  id="hcaptcha"
                  class="h-captcha"
                  data-sitekey="{{ SITE_KEY_HCAPTCHA }}"
                  data-callback="onSuccess"
                  data-expired-callback="onExpire"

                  >
                </div>
                <script>
                      // success callback
                      var onSuccess = function(response) {
                        var errorDivs = document.getElementsByClassName("hcaptcha-error");
                        if (errorDivs.length) {
                          errorDivs[0].className = "";
                        }
                        var errorMsgs = document.getElementsByClassName("hcaptcha-error-message");
                        if (errorMsgs.length) {
                          errorMsgs[0].parentNode.removeChild(errorMsgs[0]);
                        }

                        var logEl = document.querySelector(".hcaptcha-success");
                        logEl.innerHTML = "Challenge Success!"
                      };

                      var onExpire = function(response) {
                        var logEl = document.querySelector(".hcaptcha-success");
                        logEl.innerHTML = "Token expired."
                      };
                </script>
                <!-- END: hCaptcha implementation example. -->
              </div>

      <div class="hcaptcha-success smsg" aria-live="polite"></div>

  <!--</body> -->
